<div
    class="outer-container flex flex-col items-center justify-center h-screen bg-gradient-to-b from-[#406d8b] via-[#6fc291f3] to-[#b6f059be]">
    <h2 *ngIf="newPage"
        class="text-[39px] cursor-default font-bold text-teal-800 font-poppins bg-gradient-to-t from-[#000000fd] to-teal-500 bg-clip-text text-transparent">
        Lets Play Tic Tac Toe</h2>
    <h2 *ngIf="!champion && !gameDraw && !newPage"
        class="flex flex-row items-center justify-center cursor-default text-4xl font-bold text-[#daf736f1] font-poppins text-nowrap">
        Turn to
        <p class="bg-gradient-to-r from-white bg-clip-text text-transparent to-[#d3ff82f5] ml-4 text-nowrap">
            ->
        </p>
        <p class="bg-gradient-to-t text-5xl from-white bg-clip-text text-transparent to-[#c9c9c9d7] ml-4 text-nowrap">
            {{getPlayer}} 
        </p>
    </h2>
    <h2 *ngIf="champion" class="text-[39px] cursor-default font-bold text-teal-800 font-poppins">
        <p
            class="flex justify-center italic items-center bg-gradient-to-b from-[#000000fd] to-teal-700 bg-clip-text text-transparent">
            Player
        </p>
        <p
            class="flex justify-center items-center text-[45px] bg-gradient-to-b from-white bg-clip-text text-transparent to-[#c9c9c9d7]">
            {{champion}}
        </p>
        <p
            class="flex justify-center italic items-center bg-gradient-to-b from-[#000000fd] to-teal-700 bg-clip-text text-transparent">
            Won!
        </p>
    </h2>
    <h2 *ngIf="gameDraw"
        class="text-[45px] font-bold bg-gradient-to-r from-[#000000fd] to-teal-700 bg-clip-text text-transparent text-teal-800 font-poppins">
        Draw!
    </h2>
    <button *ngIf="champion || gameDraw || newPage"
        class="px-8 py-4 text-xl mt-5 rounded-lg bg-gradient-to-r from-[#a1f1f7fd] to-teal-900 hover:border hover:border-[#a4b4af] hover:shadow-lg hover:shadow-emerald-900 text-gray-900 cursor-pointer"
        (click)="startGame()"> Start Game </button>

    <main *ngIf="!champion && !gameDraw" class="grid grid-cols-3 md:mt-3 mt-5 md:gap-1.5 gap-0">
        <app-game-board *ngFor="let val of square; let i=index" [value]="val" (click)="makeMove(i)"
            class="border border-gray-500 xl:w-56 xl:h-56 md:w-32 md:h-32 w-28 h-32 hover:bg-gray-300 transition duration-200">
        </app-game-board>
    </main>
</div>